@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
.container{
	background-color: #453637;
	width: 100% !important;
	max-width: 1920px;
	color:white;
}

.colizq{
    position: relative;
    font-size: 72px;
    text-align: center;
    margin-top:inherit;
    

    background-color: white;
    
}

.menu{
	position:fixed;
	top: 50%;
	right: 1%;
	font-family: 'Montserrat';
    font-weight: 700;
	color: white;
	margin-right: 2%;
}

.button{
	position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%); 
	
}

.btn.btn-floating.pulse{
	background-color: white;
	width: 4em;
	height: 4em;
	
	
}

.inimage{
	color:#E9897D !important;
	font-size:3em !important;
	margin-top: 0.25em !important;
}

#iconadd{
	float:initial ;
	left:45%;
	margin-top:-60%;
}


.titulo_sec img{
	width: 100%;
	height: 100%;
	padding: 0;
}

  
.texto {
 
	float:left;
}
#etiqueta{
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: 'montserrat';
	font-weight: 600;
	font-size: 18px;
}

.formulario{
	text-align: center;
}

#enviar{
	margin-top: 1em;
	background-color: #E9897D;
	padding-left: 0.5em;
	padding-right: 0.5em;
	
	
}

footer.page-footer{
	padding-top: 3em;

}

.page-footer{
	background-color: white;
	height:15em;
	color: #E9897D;
	text-align: center;
}

.iconos{
	width: 2.8em;
    float:left;
	margin-left: 0.6em;
	margin-right: 0.6em;
	margin-top: 1em;
}

section{	
	margin-left: auto;
	display: inline-block;
}

p{
	font-family: 'montserrat';
    
    font-weight: 600;
}

h3,h4{
    color: #e5a579;
	font-family: 'montserrat';
    font-weight: 600;
}

h5{
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 22px;
}
#suscribite{
	margin-top: 0em;
	background-color: #E9897D;
	padding-left: 3.5em;
	padding-right: 3.5em;
}

header{
	height: 0;
}

a{
	color:white;
}

.juntos{
    padding: 0 !important;
}


#map {
        height: 400px;
        width: 100%;
       }

@media (max-width: 991px) {
  * {
  }